@import models.NestDevice
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.SummaryListRow

@this(
  main: Main,
  govukSummaryList: GovukSummaryList
)


@(device: NestDevice)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@main() {

  <h1 class="govuk-heading-xl">Nest thermostat</h1>

  <p class="govuk-body">
    Current state and sensor readings from your Nest thermostat.
  </p>

  <p class="govuk-body">
    <a
      class="govuk-button"
      href="@controllers.admin.routes.GraphiteController.pushNest"
    >
      Push data to Graphite
    </a>
  </p>

  <p class="govuk-body">
    <a class="govuk-button" href="@controllers.admin.routes.NestAdminController.setTemperature(15)">
      Set temperature to 15°C
    </a>
  </p>

  <p class="govuk-body">
    <a class="govuk-button" href="@controllers.admin.routes.NestAdminController.setTemperature(22)">
      Set temperature to 22°C
    </a>
  </p>

  @govukSummaryList(
    SummaryList(
      rows = Seq(
        SummaryListRow(
          key = Key(Text("Device")),
          value = Value(Text(device.name))
        ),
        SummaryListRow(
          key = Key(Text("Status")),
          value = Value(Text(
            device.traits.connectivity
          ))
        ),
        SummaryListRow(
          key = Key(Text("Temperature")),
          value = Value(Text(
            f"${device.traits.temperatureCelsius}%.1f °C"
          ))
        ),
        SummaryListRow(
          key = Key(Text("Humidity")),
          value = Value(Text(
            f"${device.traits.humidityPercent}%.0f%%"
          ))
        ),
        SummaryListRow(
          key = Key(Text("Mode")),
          value = Value(Text(
            device.traits.thermostatMode
          ))
        ),
        SummaryListRow(
          key = Key(Text("HVAC")),
          value = Value(Text(
            device.traits.hvacStatus
          ))
        ),
        SummaryListRow(
          key = Key(Text("Heat setpoint")),
          value = Value(Text(
            device.traits.heatSetpointCelsius.fold("Unknown")(value => f"$value%.1f °C")
          ))
        ),
        SummaryListRow(
          key = Key(Text("Cool setpoint")),
          value = Value(Text(
            device.traits.coolSetpointCelsius.fold("Unknown")(value => f"$value%.1f °C")
          ))
        ),
        SummaryListRow(
          key = Key(Text("Eco mode")),
          value = Value(Text(
            device.traits.ecoMode
          ))
        ),
        SummaryListRow(
          key = Key(Text("Eco heat")),
          value = Value(Text(
            f"${device.traits.ecoHeatCelsius}%.1f °C"
          ))
        ),
        SummaryListRow(
          key = Key(Text("Eco cool")),
          value = Value(Text(
            f"${device.traits.ecoCoolCelsius}%.1f °C"
          ))
        )
      )
    )
  )

}